/* Bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css");
/* Common */
body{
    font-family: 'Gotham Pro';
}
/* Nav */
.ogogo-nav{
    background: rgba(0, 0, 0, 0.69);
    backdrop-filter: blur(12px);
}
.ogogo-nav.navbar-light .navbar-nav .nav-link{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0.8; 
    color: #FFFFFF;
    margin: 0 16px;
    transition: .3s;
}
.ogogo-nav.navbar-light .navbar-nav .nav-link.active{
    color: #FF7A00;
}
.ogogo-nav.navbar-light .navbar-nav .nav-link:hover{
    color: #FF7A00;
}
.ogogo-nav.navbar-light .navbar-nav .green-btn{
    background: #009B95;
    color: #FFF;
    border-radius: 10px;
    padding: 5px 53px;
    transition: .3s;
    font-size: 14px;
}
.ogogo-nav.navbar-light .navbar-nav .green-btn:hover{ 
    background: #FF7A00;
}
@media(max-width: 767px){
     
}
/* Hero */
.ogogo-hero-section{
    background: linear-gradient(180deg, rgba(23, 25, 33, 0) 0%, #171921 100%);
    position: relative;
    height: 703px;
}
.ogogo-hero-section::after{
    content: "";
    position: absolute;
    background: linear-gradient(180deg, rgba(23, 25, 33, 0) 0%, #171921 100%);
    width: 100%;
    height: 703px;
    z-index: 0;
}
.ogogo-hero-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    z-index: 1;
}
.ogogo-hero-content .title{ 
    font-style: normal;
    font-weight: 500;
    font-size: 52.6474px;
    line-height: 0.8;
    color: #FFFFFF; 
    margin-bottom: 32px;
}
.ogogo-hero-content .subtitle{ 
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;  
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    max-width: 520px;
    margin-bottom: 56px;
}
.ogogo-hero-content .orange-btn{
    background: #FF7A00;
    color: #fff;;
    padding: 14px 44px 17px;
    border-radius: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 0.8;
    transition: .3s;
}
.ogogo-hero-content .orange-btn:hover{
    background: #009B95; 
}

@media(max-width: 767px){
    .ogogo-hero-content{
        width: 100%;
    }
    .ogogo-hero-content .title{
        font-weight: 500;
        font-size: 36px;
        line-height: 0.8;
    }
    .ogogo-hero-content .subtitle{
        font-weight: 300;
        font-size: 18px;
        line-height: 1.3;
    }
}

/* Courses section */
.ogogo-courses-section{
    padding: 100px 0 100px 0;
}
.ogogo-courses-section .title{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1.2; 
    color: #000000;
}
.ogogo-courses-section .subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 76px;
}
.ogogo-courses-section .card{
    box-shadow: 0px 0px 11px rgba(0, 0, 0, 0.15)
}
.ogogo-courses-section .card .card-body{
    min-height: 190px;
}
.ogogo-courses-section .card .card-footer{
    background-color: #fff;
    border-top: 0;
}
.ogogo-courses-section .card .card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 0.8;
    margin-bottom: 16px;
    margin-top: 28px;
}
.ogogo-courses-section .card .card-text{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3;
}
.ogogo-courses-section .card .btn.btn-link{ 
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3; 
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    padding-left: 0;
}

/* @media(max-width: 767px){
    .ogogo-courses-section .special-row {
        display: flex;
        flex-wrap: unset;
        overflow-x: auto;
    }
    .ogogo-courses-section .special-row .col-lg-3{
        width: 76%;
    }
} */

/* Why Section */
.ogogo-why-section{
    background: #F5F5F5;
    padding: 90px 0 70px 0;
}
.ogogo-why-section .title{
    text-align: center;
    margin-bottom: 70px;
}
.ogogo-why-section .why-icon{
    max-width: 132px;
}
.ogogo-why-section .why-title{
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.25;
    margin-top: 24px;
}

@media(max-width: 767px){}

/* online section */
.ogogo-online-section{
    padding: 150px 0 150px 0;
}
.ogogo-online-section .title{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 1;
}
.ogogo-online-section .subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;
    max-width: 450px;
}
.ogogo-online-section .card{
    border-radius: 0.65rem;
}
.ogogo-online-section .card.javascript{
    background-color: #F8E01E;
}
.ogogo-online-section .card.python .card-title{
    color: #ffffff;
    font-weight: 900;
    font-size: 42.5px;
    line-height: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ogogo-online-section .card.javascript .card-title{
    font-style: normal;
    font-weight: 500;
    font-size: 121.846px;
    line-height: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}
.ogogo-online-section .card .card-footer{
    width: 100%;
    border-top: 0;
    background-color: transparent;
    bottom: 10px;
    position: absolute;
    left: 0;
}
.ogogo-online-section .card .white-btn{
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 100%;
    cursor: pointer;
    transition: .3s;
}
.ogogo-online-section .card .white-btn:hover{
    background-color: #333;
    color: #fff;
}
/* @media(max-width: 767px){
    .ogogo-online-section .special-row {
        display: flex;
        flex-wrap: unset;
        overflow-x: auto;
    }
    .ogogo-online-section .special-row .col-lg-6{
        width: 76%;
    }
} */

/* Testimonial section */
.ogogo-testimonial-section{
    background: #F5F5F5;
    padding: 80px 0 80px 0;
}
.ogogo-testimonial-section h2{
    margin-bottom: 40px;
}
.ogogo-testimonial-section .slider-control-wrapper{
    float: right;
}
.ogogo-testimonial-section .slider-control-wrapper a{
    background-color: #000;
    color: #fff;
    margin-right: 5px;
    padding: 5px 18px 4px;
    font-size: 24px;
    border-radius: 6px;
    position: relative;
    transition: .3s;
}
.ogogo-testimonial-section .slider-control-wrapper a:hover{
    background-color: #333;
}
.ogogo-testimonial-section .testi-item img{
    border-radius: 10px;
}
.ogogo-testimonial-section .testi-item {
    position: relative;
}
.ogogo-testimonial-section .testi-item .overlay{
    background-color: rgba(0,0,0,.52);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    border-radius: 10px; 
    visibility: hidden;
}
.ogogo-testimonial-section .testi-item .overlay i{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #fff;
    font-size: 36px;
}
.ogogo-testimonial-section .testi-item:hover .overlay{
    visibility: visible;
}
.ogogo-testimonial-section .testi-item-wrapper .title{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    margin-top: 22px;
    margin-bottom: 0;
    margin-left: 6px;
}
.ogogo-testimonial-section .testi-item-wrapper .subtitle{
    margin-left: 6px;
}

/* You-are-here section */

.ogogo-youHere-section{
    padding: 80px 0 80px 0;
}
.ogogo-youHere-section .orange-bg{
    background-color: #FF7A00;
    border-radius: 10px;
    min-height: 480px;
}
.ogogo-youHere-section .orange-bg .title{
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: .8;
    color: #FFFFFF; 
    margin-bottom: 22px;
}
.ogogo-youHere-section .orange-bg .subtitle{
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: .8;
    color: #FFFFFF; 
    margin-bottom: 22px;
}
.ogogo-youHere-section .orange-bg .white-btn{
    border-radius: 10px;
    background-color: #FFFFFF; 
    cursor: pointer;
    transition: .3s;
    padding: .375rem 2.75rem;
}
.ogogo-youHere-section .orange-bg .white-btn:hover{
    background-color: #009B95;
}
.ogogo-youHere-section .content-wrapper{
    padding: 50px 0px 50px 150px;
}
.ogogo-youHere-section .right-part{ 
    max-height: 480px;
    overflow-y: auto;
}
.ogogo-youHere-section .card .card-footer {
    background-color: #fff;
    border-top: 0;
}
.ogogo-youHere-section .card .btn.btn-link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    padding-left: 0;
}

/* Get Certified Section */
.ogogo-getCertified-section{
    padding: 100px 0 100px 0;
}
.ogogo-getCertified-section .title{
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: .8;
}
.ogogo-getCertified-section .subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 1.3;
    max-width: 648px;
}